In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from IPython.display import display
from functools import reduce
from itertools import combinations
from itertools import product

In [2]:
import pandas as pd
movies = pd.read_csv('movie_bd_v5.csv')
movies.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
878,tt0246460,140000000,431971116,Die Another Day,Pierce Brosnan|Halle Berry|Rosamund Pike|Rick ...,Lee Tamahori,Events don't get any bigger than...,The ever-daring James Bond taking on a North K...,133,Adventure|Action|Thriller,Eon Productions,11/17/2002,5.8,2002
1280,tt2005374,27220000,5496951,The Frozen Ground,Nicolas Cage|Vanessa Hudgens|John Cusack|Radha...,Scott Walker,The hunter becomes the hunted,An Alaska State Trooper partners with a young ...,105,Thriller|Crime,Grindstone Entertainment Group|Cheetah Vision|...,7/18/2013,6.2,2013
1717,tt0426931,25000000,66122026,August Rush,Freddie Highmore|Keri Russell|Jonathan Rhys Me...,Kirsten Sheridan,An incredible journey moving at the speed of s...,"A drama with fairy tale elements, where an orp...",114,Drama,Warner Bros.|CJ Entertainment|Southpaw Enterta...,11/21/2007,6.9,2007
814,tt0999913,25000000,10324441,Straw Dogs,James Marsden|Kate Bosworth|Alexander SkarsgÃ¥...,Rod Lurie,Everyone Has A Breaking Point,L.A. screenwriter David Sumner relocates with ...,110,Thriller,Battleplan Productions,9/16/2011,5.3,2011
1584,tt0362227,60000000,219417255,The Terminal,Tom Hanks|Catherine Zeta-Jones|Stanley Tucci|C...,Steven Spielberg,Life is waiting.,Viktor Navorski is a man without a country; hi...,128,Comedy|Drama,DreamWorks SKG|Amblin Entertainment|Parkes/Mac...,6/17/2004,7.0,2004

In [21]:
movies["profitability"] = movies["revenue"] - movies["budget"]

answers = {}  # dictionary with answers to the questions
answers.update({1: "Pirates of the Caribbean: On Stranger Tides",
                2: 'Gods and Generals', 3: "Winnie the Pooh"})
answers.update({4: '110', 5: '107', 6: 'Avatar', 7: "The Lone Ranger",
                8: "1478", 9: "The Dark Knight", 10: "The lone ranger"})
answers.update({11: 'Drama', 12: "Drama", 13: "Robert Rodriguez",
                14: "Chris Hemsworth", 15: "Matt Damon"})
answers.update({16: "Action", 17: "K-19: The Widowmaker",
                18: "2015", 19: "2014", 20: "September", 21: "450"})
answers.update(
    {22: "Peter Jackson", 23: "Inside Out, The Dark Knight, 12 Years a Slave"})
answers.update({24: "Daniel Radcliffe, Rupert Grint"})
print(answers)

{1: 'Pirates of the Caribbean: On Stranger Tides', 2: 'Gods and Generals', 3: 'Winnie the Pooh', 4: '110', 5: '107', 6: 'Avatar', 7: 'The Lone Ranger', 8: '1478', 9: 'The Dark Knight', 10: 'The lone ranger', 11: 'Drama', 12: 'Drama', 13: 'Robert Rodriguez', 14: 'Chris Hemsworth', 15: 'Matt Damon', 16: 'Action', 17: 'K-19: The Widowmaker', 18: '2015', 19: '2014', 20: 'September', 21: '450', 22: 'Peter Jackson', 23: 'Inside Out, The Dark Knight, 12 Years a Slave', 24: 'Daniel Radcliffe, Rupert Grint'}

# 1. Which movie has the biggest budget?

In [12]:
# Adding answers to the dictionary:
answers['1'] = "Pirates of the Caribbean: On Stranger Tides"

In [15]:
biggest = movies.original_title[movies.budget == movies.budget.max()]
print(biggest)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. What movie is the longest (in minutes)?

In [0]:
answers['2'] = "Gods and Generals"

In [21]:
length = movies[movies.runtime == movies.runtime.max()].original_title
print(length)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. What movie is the shortest (in minutes)?

In [0]:
answers['3'] = "Winnie the Pooh"

In [22]:
shortest = movies[movies.runtime == movies.runtime.min()].original_title
print(shortest)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. What is the mean movie length?

In [0]:
answers['4'] = "110"

In [29]:
average_length = movies["runtime"].mean()
display(round(average_length))

110

# 5. What is the median movie length?

In [0]:
answers['5'] = "107"

In [32]:
median_length = movies["runtime"].median()
display(round(median_length))

107

# 6. What is the most profitable movie?
####  (profit = revenue - budget)

In [ ]:
answers['6'] = "Avatar"

In [12]:
max_profit = movies[movies.profitability == movies.profitability.max()].original_title
display(max_profit)

239    Avatar
Name: original_title, dtype: object

# 7. What movie lost the most money?

In [0]:
answers['7'] = "The Lone Ranger"

In [38]:
min_profit = movies[movies.profitability == movies.profitability.min()].original_title
display(min_profit)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. How many movies were profitable?

In [0]:
answers['8'] = "1478"

In [40]:
rev_more_budget = movies[movies.profitability > 0].original_title.count()
display(rev_more_budget)

1478

# 9. What movie was the most profitable in 2008?

In [0]:
answers['9'] = "The Dark Knight"

In [41]:
big_rev = movies[movies.release_year == 2008].profitability.max()
movie_name = movies[movies.profitability == big_rev].original_title
display(big_rev, movie_name)

816921825

599    The Dark Knight
Name: original_title, dtype: object

# 10. Among all the movies released in 2012 -2014 which movie lost the most money?

In [0]:
answers['10'] = "The Lone Ranger"

In [42]:
least_rev = movies[(movies.release_year > 2012) & (
    movies.release_year < 2015)].profitability.min()
movie_name = movies[movies.profitability == least_rev].original_title
display(least_rev, movie_name)

-165710090

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. What film genre has the largest presence in the dataset?

In [ ]:
answers['11'] = "Drama"

In [8]:
from collections import Counter
most_genre = list(movies["genres"])
str_genre = "|".join(most_genre)
arr = str_genre.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Drama', 782)

In [0]:
answers['12'] = "Drama"

# 12. What genre movies become profitable most often?

In [13]:
prof_genre = movies[movies.profitability > 0]
movies_genre = list(prof_genre["genres"])
str_genre = "|".join(movies_genre)
arr = str_genre.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Drama', 560)

# 13. What director has directed the most amount of action movies?

In [0]:
answers['13'] = "Robert Rodriguez"

In [14]:
small_df = movies[movies.genres.str.match("Action", na=False)]
action_director = list(small_df["director"])
str_director = "|".join(action_director)
arr = str_director.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Robert Rodriguez', 7)

# 14. What actor played in the most profitable movies in 2012?

In [ ]:
answers['14'] = "Chris Hemsworth"

In [15]:
movies_sorted = movies.sort_values('revenue', ascending=False)
movies_2012 = movies_sorted[movies_sorted.release_year == 2012].head(
    111//4)  # 25% of the most profitable movies
movies_cast = list(movies_2012["cast"])
str_cast = "|".join(movies_cast)
arr = str_cast.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Chris Hemsworth', 2)

# 15. What actor played in the most amount of high budget movies?

In [0]:
answers['15'] = "Matt Damon"

In [16]:
movies_budget = movies[movies.budget > movies.budget.mean()]
movies_cast = list(movies_budget["cast"])
str_cast = "|".join(movies_cast)
arr = str_cast.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Matt Damon', 18)

# 16. What genre movies did Nicolas Cage played in the most?

In [ ]:
answers['16'] = "Action"

In [17]:
small_df = movies[movies.cast.str.match("Nicolas Cage", na=False)]
movies_genre = list(small_df["genres"])
str_genre = "|".join(movies_genre)
arr = str_genre.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Action', 16)

# 17. What Paramount Pictures' movie lost the most money?

In [0]:
answers['17'] = "K-19: The Widowmaker"

In [73]:
pp_df = movies[movies.production_companies.str.match(
    "Paramount Pictures", na=False)]
pp_df1 = pp_df.sort_values('profitability', ascending=True)
display(pp_df[pp_df.profitability == pp_df.profitability.min()].original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 18. What year was the most profitable overall?

In [ ]:
answers['18'] = "2015"

In [75]:
big_money = movies.groupby(['release_year'])[
    'revenue'].sum().sort_values(ascending=False).head(1)
display(big_money)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 19. What year was the most profitable for Warner Bros?

In [ ]:
answers['19'] = "2014"

In [78]:
small_df = movies[movies.production_companies.str.contains('Warner Bros')]
wb_money = small_df.groupby(['release_year'])['profitability'].sum().sort_values(ascending = False).head(1)
display(wb_money)

release_year
2014    2295464519
Name: profitability, dtype: int64

# 20. In what month were the most movies released?

In [ ]:
answers['20'] = "September"

In [18]:
movies['release_date'] = pd.to_datetime(movies['release_date'])
month = movies.groupby(movies['release_date'].dt.month)[
    "original_title"].count().sort_values(ascending=False).head(1)
display(month, type(month))

release_date
9    227
Name: original_title, dtype: int64

pandas.core.series.Series

# 21. What is the total amount of movies that were released in summer?

In [ ]:
answers['21'] = "450"

In [80]:
movies['release_date'] = pd.to_datetime(movies['release_date'])
month = movies.groupby(movies['release_date'].dt.month)[
    "original_title"].count()
month = dict(month)
start = 6
end = 9
display(sum(month[i] for i in range(start, end) if i in month))

450

# 22. For what director winter is the most productive time of the year?

In [ ]:
answers['22'] = "Peter Jackson" # +

In [19]:
movies['release_date'] = pd.to_datetime(movies['release_date'])
movies['month'] = movies['release_date'].dt.month


def season(x):
    if x == 1 or x == 12 or x == 2:
        return "winter"
    if x == 3 or x == 4 or x == 5:
        return "spring"
    if x == 6 or x == 7 or x == 8:
        return "summer"
    else:
        return "fall"


movies["season"] = movies.month.apply(season)

movies_winter = movies[movies.season == "winter"]
movies_director = list(movies_winter["director"])
str_director = "|".join(movies_director)
arr = str_director.split("|")
popular = Counter(arr)
display(popular.most_common()[0])

('Peter Jackson', 7)

# 23. What movies are included in the top 1% based on rating?

In [ ]:
answers['23'] ="Inside Out, The Dark Knight, 12 Years a Slave"

In [5]:
movies[movies['vote_average']>movies.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 24. What actors appear in movies together most often?

In [ ]:
answers['24'] ="Daniel Radcliffe, Rupert Grint"

In [20]:
from itertools import combinations


def func(x):
    if "|" in x:
        return x.replace("|", ", ").split(",")
    else:
        return x


actors = movies.cast.apply(func)
actors = list(actors)
arr = []
for el in actors:
    el = list(combinations(el, 2))
    arr.append(el)
arr2 = []
for el in arr:
    for j in el:
        arr2.append(j)
popular = Counter(arr2)
display(popular.most_common()[0])

(('Daniel Radcliffe', ' Rupert Grint'), 8)

# Answers

In [24]:
answers

{1: 'Pirates of the Caribbean: On Stranger Tides',
 2: 'Gods and Generals',
 3: 'Winnie the Pooh',
 4: '110',
 5: '107',
 6: 'Avatar',
 7: 'The Lone Ranger',
 8: '1478',
 9: 'The Dark Knight',
 10: 'The lone ranger',
 11: 'Drama',
 12: 'Drama',
 13: 'Robert Rodriguez',
 14: 'Chris Hemsworth',
 15: 'Matt Damon',
 16: 'Action',
 17: 'K-19: The Widowmaker',
 18: '2015',
 19: '2014',
 20: 'September',
 21: '450',
 22: 'Peter Jackson',
 23: 'Inside Out, The Dark Knight, 12 Years a Slave',
 24: 'Daniel Radcliffe, Rupert Grint'}